/*scss/variables/_colors.scss*/
.color1 {
  background: #00aff0;
}

.color2 {
  background: #58cd6c;
}

.color3 {
  background: #de4645;
}

.color4 {
  background: #545454;
}

.color {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
}

.colorFixed {
  position: fixed;
  z-index: 3000;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.57);
}
.colorFixed .color {
  float: none;
  margin-right: 0;
  width: 70px;
  height: 50px;
}

/*scss/variables/_fonts.scss*/
.font1 {
  font-family: "Lora", serif;
}

.font2 {
  font-family: "Open Sans Condensed", sans-serif;
}

.font span {
  display: block;
}

/*scss/variables/_vertical-rhythm.scss*/
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, hr, .atoms-code-example {
  margin-bottom: 24px;
}

/*scss/variables/_wrap.scss*/
.wrap, .main .main__inner, .section .section-inner {
  max-width: 1420px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 120px) {
  .wrap, .main .main__inner, .section .section-inner {
    max-width: 100%;
  }
}
/*@include wrap($wrapWidth, $mpad);*/
/*scss/variables/_col.scss*/
/*@include col($six);*/
.gridExample .grid-row, .gridExample .colors, .gridExample .main .main__inner, .main .gridExample .main__inner, .gridExample .section .section-inner, .section .gridExample .section-inner {
  margin-bottom: 10px;
}
.gridExample [class*='nb-'] {
  padding-right: 10px;
}
.gridExample span {
  background: #E4E4E4;
  padding: 10px;
  font-size: 11px;
  display: block;
}

.btns {
  display: inline-block;
  background: #ccc;
  color: #fff;
  opacity: 1;
  cursor: pointer;
  transition: all .25s;
  position: relative;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  height: 42px;
  line-height: 42px;
  width: 150px;
  text-align: center;
}

.btns:hover {
  color: #fff;
  text-decoration: none;
}

.btns:active {
  top: 1px;
}

.btn1 {
  background: #ccc;
}

.btn2 {
  background: #6A6A6A;
}

.btn3 {
  background: #414141;
}

.h1, h1, h2, .h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.h1 {
  font-size: 55px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 40px;
  font-family: "Lora", serif;
  color: #35363a;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
}

[class*='nb-'] {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='nb-']:last-of-type {
  margin-right: 0;
}

.nb-1 {
  width: 08.333333333%;
  float: left;
}

.nb-2 {
  width: 16.6666666667%;
  float: left;
}

.nb-3 {
  width: 25%;
  float: left;
}

.nb-4 {
  width: 33.3333333333%;
  float: left;
}

.nb-5 {
  width: 41.6666666667%;
  float: left;
}

.nb-6 {
  width: 50%;
  float: left;
}

.nb-7 {
  width: 58.3333333333%;
  float: left;
}

.nb-8 {
  width: 66.6666666667%;
  float: left;
}

.nb-9 {
  width: 75%;
  float: left;
}

.nb-10 {
  width: 83.3333333333%;
  float: left;
}

.nb-11 {
  width: 91.6666666667%;
  float: left;
}

.nb-12 {
  width: 100%;
  float: left;
}

.grid-row:after, .colors:after, .main .main__inner:after, .section .section-inner:after {
  content: "";
  display: table;
  clear: both;
}

.main {
  padding: 70px 20px;
}

.main__content {
  padding: 24px;
}

.main__aside {
  padding: 24px;
}

.main-2col .main__content {
  float: left;
  width: 66.66667%;
}
.main-2col .main__aside {
  float: left;
  width: 33.33333%;
}

.main-2col.main-right .main__content {
  float: left;
  width: 66.66667%;
  float: right;
}
.main-2col.main-right .main__aside {
  float: left;
  width: 33.33333%;
  float: right;
}

.section {
  padding: 0 20px;
  border: 1px solid #B7B7B7;
  margin-bottom: 1px;
}

.section-content {
  padding: 24px;
  background: #DADADA;
}

.section-aside {
  background: #E7E3E3;
  padding: 24px;
}

.section-2col .section-content {
  float: left;
  width: 66.66667%;
}
.section-2col .section-aside {
  float: left;
  width: 33.33333%;
}

.section-2col.section-right .section-content {
  float: left;
  width: 66.66667%;
  float: right;
}
.section-2col.section-right .section-aside {
  float: left;
  width: 33.33333%;
  float: right;
}
