img{
  max-width:100%; 
}
body{
	background: #EBECEA;
	color: #656565;
	font-family: $font1;
}

.highlightMe{
  background: #FFFFFF;
  color: #6C6F6F;
  font-size: 14px;
  padding: 2px 8px;
}









