/* scss/siteForms/_atomic-input.scss */

.atomic-input{
  border-radius: 0;
  border: none;
  background: #fff;
  box-shadow: none;
  color: #7A7A7A;
  font-family: $font1;
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 300;
  text-indent: 20px;
  padding: 0;
  &:focus{
      outline: none;
  }
}


.atomic-input-alt{
  border: none;
  background: #fff;
  border-radius: 2px;
  height: 22px;
  font-size: 12px;
}
