/* scss/misc/_cleanup.scss */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  padding: 0;
  margin: 0;
}
img{
  max-width:100%;
}

.material-icons{
  vertical-align: middle;
}

.partial-viewport {
  width: 100%;
  border: none;
  box-shadow: none;
}

