<!--components/layout/section.html-->

<div class="section">
	<div class="section__inner">
		Section
	</div>
</div>

<div class="section section-2col">
  <div class="section-inner">
    <div class="section-content">
      Main content
    </div>
    <div class="section-aside">
      Side content
    </div>
  </div>
</div>

<div class="section section-right section-2col">
  <div class="section-inner">
    <div class="section-content">
      Main content
    </div>
    <div class="section-aside">
      Side content
    </div>
  </div>
</div>