<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /atomic-core
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . index.php [NC]

	#Remove trailing slashes
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)/$ /$1 [L,R=301]
</IfModule>
