.btns{
	display:inline-block;
	background:#ccc;
	padding:10px 0;
  width:142px;
	color:#fff;
	opacity:1;
	cursor:pointer;
	transition: all .25s;
	position:relative;
	border:none;
  font-family:$font3;
  font-size:16px;
  text-decoration:none;
}
.btns:hover{
	color:#fff;
	text-decoration:none;
}
.btns:active{
	top:1px;
}
.btn1{
	background:#00AFF0;
}
.btn2{
  background:#3D4A57;
}
.btn3{
	background:#5583B2;
}
.btn4{
	background:#1A61F1;
}


.btnGroup{
  text-align:center; 
  margin-bottom:100px;
}

a{
   color: #7B7C7D;
   text-decoration:none;
}