.h1, h1, h2, .h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6{
	margin-top:0;
	margin-bottom:$base;
  font-family:$font2;
  text-transform:uppercase;
  font-weight:bold;
}

.h1{
  font-size:55px;
}
.h2{
  font-size:36px;
}
.h3{
  font-size:40px;
  font-family:$font1;
  color:#35363a;
  font-weight:normal;
  font-style:italic;
  text-transform:none;
}


.h4{

}
.h5{

}