/* scss/molecules/_atomic-compBar.scss */


.atomic-compBar{
  @extend .grid-row;
  background: $color3;
  padding: 10px;
  margin-bottom: $base;
  margin-bottom: 20px;
  border-left: 4px solid $color1;
  background: #f7f7f7;
  border-left: 5px solid #03aff0;
  font-family: $font1;

  /*padding: 10px 15px;
  padding-left: 0;
  padding-right: 0;
  */

  .atomic-compDim-val{
    //border: 1px solid #ccc;
  }

  .sp-replacer{
    margin-left: 18px;
  }


}

.delete-comp{
  color: #f16161 !important;
}


.atomic-compBar__label{
  font-size: 14px;
  color: $textColor;
  margin: 0 18px;
}


.atomic-comp-edit-title{
  font-weight: bold;
  color: #3a424c;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  display: inline-block;
  vertical-align: middle;
  text-indent: 8px;
  border: none;
  border-radius: 2px;
  background: #fff;
  &:focus{
    outline: none;
  }
}


.atomic-inline-block{
  display: inline-block;
}

.atomic-hidden{
  display: none !important;
}

.atomic-compWrap-inliner{
  .atomic-hidden{
    display: inline-block !important;
  }
  .atomic-component__title{
    display: none;
  }
}


$compBarOffset: 300px;

.atomic-compBarLeft{
  width: calc(100% - #{$compBarOffset});
  float: left;
}

.atomic-compBarRight{
  width: $compBarOffset;
  float: left;
  .atomic-dashControls{
    float: right;
    i{
      font-size: 17px;
      vertical-align: middle;
      color: $textColor;
    }
  }
}


.atomic-component__title{
  display: inline-block;
  font-weight: bold;
  //color: #3a424c;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  vertical-align: middle;

a{
  color: #3a424c;
  text-decoration: none;
}


}

.atomic-component__actions{
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-left: 2px solid #ccc;
  padding-left: 8px;
  i, a, form {
    margin-right: 5px;
    font-size: 19px;
    color: $textColor;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
  }
}
.delete-comp{
  margin-right: 5px;
  font-size: 19px;
  color: $textColor;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;

}


.atomic-compDim-val{
  border: none;
  text-align: right;
  width: 75px;
  padding: 0 10px;
  height: 25px;
  border-radius: 2px;
  &:focus{
    outline: none;
  }
  &:last-of-type{
    margin-right: 10px;
  }
}

.atomic-dimDivider{
  display: inline-block;
  vertical-align: middle;
  color: $textColor;
  position: relative;
  left: 9px;
}

.atomic-dimLabel{
  font-size: 12px;
  color: $textColor;
  position: relative;
  left: 21px;
  &:first-of-type{
    left: 24px;
  }
}

.atomic-pageBar{
  .atomic-compDim-val{
    background: #0fbafb;
    color: #fff;
  }
  .atomic-dimLabel{
    color: #fff;
  }
  .atomic-dimDivider{
    color: #fff;
  }
}