/* scss/molecules/_atomic-add-comp-form.scss */

.atomic-add-comp-form{
  background: #f7f7f7;
  padding: 30px 40px;
  box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.28);
  margin-bottom: 32px;

  .atomic-btn{
    padding: 11px 30px;
    width: auto;
  }
}