/* scss/molecules/_atomic-actions.scss */

.atomic-actions{
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  li{
    display: inline-block;
    margin: 0 10px;
  }
  a{
    display: block;
  }
  .fa{
    color: $color1;
    font-size: 20px;
  }
}