/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 8, ../scss/_prism.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 30, ../scss/_prism.scss */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* line 36, ../scss/_prism.scss */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  /* line 43, ../scss/_prism.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
/* line 50, ../scss/_prism.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* line 56, ../scss/_prism.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
/* line 62, ../scss/_prism.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 67, ../scss/_prism.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 74, ../scss/_prism.scss */
.token.punctuation {
  color: #999;
}

/* line 78, ../scss/_prism.scss */
.namespace {
  opacity: .7;
}

/* line 82, ../scss/_prism.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

/* line 91, ../scss/_prism.scss */
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

/* line 98, ../scss/_prism.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 108, ../scss/_prism.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

/* line 115, ../scss/_prism.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 120, ../scss/_prism.scss */
.token.important {
  font-weight: bold;
}

/* line 124, ../scss/_prism.scss */
.token.entity {
  cursor: help;
}

/* line 1, ../scss/_atoms-main.scss */
.atoms-container {
  height: 100%;
}

/* line 7, ../scss/_atoms-main.scss */
.atoms-main {
  float: left;
  width: 100%;
  padding: 20px;
}

/* line 15, ../scss/_atoms-main.scss */
.atoms-h1 {
  border-bottom: 1px solid #ccc;
}

/* line 19, ../scss/_atoms-main.scss */
.atoms-code-example {
  position: relative;
}

/* line 25, ../scss/_atoms-main.scss */
.atoms-group {
  margin-bottom: 50px;
}

/* line 1, ../scss/_atoms-nav.scss */
.atoms .atoms-sub-organisms, .atoms .atoms-sub-molecules, .atoms .atoms-sub-utilities {
  display: none;
}

/* line 4, ../scss/_atoms-nav.scss */
.molecules .atoms-sub-organisms, .molecules .atoms-sub-atoms, .molecules .atoms-sub-utilities {
  display: none;
}

/* line 7, ../scss/_atoms-nav.scss */
.organisms .atoms-sub-molecules, .organisms .atoms-sub-atoms, .organisms .atoms-sub-utilities {
  display: none;
}

/* line 10, ../scss/_atoms-nav.scss */
.utilities .atoms-sub-molecules, .utilities .atoms-sub-atoms, .utilities .atoms-sub-organisms {
  display: none;
}

/* line 15, ../scss/_atoms-nav.scss */
.atoms-side {
  float: left;
  width: 16.666666666%;
  height: 100%;
  background: #5C81F6;
  color: #fff;
  position: fixed;
}

/* line 23, ../scss/_atoms-nav.scss */
.atoms-nav {
  list-style: none;
  padding: 0;
}

/* line 27, ../scss/_atoms-nav.scss */
.atoms-nav > li > a {
  border-top: 1px solid #86A2FA;
  display: block;
  padding: 20px 20px;
  text-transform: uppercase;
  color: #fff;
}

/* line 34, ../scss/_atoms-nav.scss */
.atoms-sub-menu {
  list-style: none;
  padding-left: 0;
  padding-bottom: 24px;
}
/* line 38, ../scss/_atoms-nav.scss */
.atoms-sub-menu a {
  padding-left: 48px;
  display: block;
  color: #fff;
}

/* line 45, ../scss/_atoms-nav.scss */
.border-top {
  border-top: 1px solid #424242;
}
