@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}


.block-grid-example{
	@extend .grid-row;
}

.block-grid-example-item {
  @include rowMachine(4, 1%);
  background: white;
  padding: 10px;
  float: left;
  
  @media (max-width: 1200px) {
    @include rowMachine(3, 1%);
  }
  
  @media (max-width: 900px) {
    @include rowMachine(2, 1%);
  }
  
  img {
    max-width: 100%; 
  }
}