/* 
UTILITIES
This directory of partials is also important because we'll need to define global classes, mixins and styles that can be used anywhere and at any time.
The code in our reset, clearfix and base-spacing partials have a global impact, changing almost every page, template, element and module. By scoping our code in this way, we can easily find these partials later and hide them when our focus is needed elsewhere.
*/
@import "base-spacing";
@import "base-type";
@import "clearfix";
@import "grid";
@import "variables";
@import "wrap";
@import "block-grid";
@import "show-hide";