.wrap{
	max-width:1000px;
	margin-right:auto;
	margin-left:auto;
	@extend %clearfix;
}
.wrap.full{
	max-width:1000px;
}
@media (max-width: 1100px){ 
.wrap{
	max-width:98%;
}
}


/*@mixin wrap($width) {
	max-width:$width;
	margin-right:auto;
	margin-left:auto;
	@extend %clearfix;
}*/
/*@include wrap($width);*/

