<!--components/organisms/banner.html-->

<div class="banner">
  <h1 class="logo"><img src="http://atomic-docs.io/img/logo.png"></h1>
  <h2 class="banner__sub">A living styleguide generator and component manager.</h2>
  <div class="btnGroup">
    <a href="#" class="btns btn1">Download</a>
    <a href="https://github.com/nickberens360/atomic-docs" class="btns btn2">Github</a>
    <a href="/docs/video-primer/" class="btns btn3">Documentation</a>
  </div>
  <img class="demoImg" src="http://atomic-docs.io/img/demo4-edit6.gif">
  <div id="particles-js"></div>
</div>