.atoms-container{
	height:100%;
}



.atoms-main{
	float:left;
	width:100%;
	padding:20px;
	transition:all .5s;
}



.atoms-h1{
	border-bottom:1px solid #ccc;
}

.atoms-code-example{
	position:relative;
}



.atoms-group{
	margin-bottom:50px;
}


