.section{
  margin-bottom: 1px;
  padding: 70px 20px;
	.section-inner{
		@include wrap(1000px, 0);
    @extend .grid-row;
	}
}
.section-content{
   padding:20px;
}

.section-aside{
  text-align:center;
  padding:20px;
}

.section-2col{
	.section-content{
		@include col($six);
	}
	.section-aside{
		@include col($six);
		
	}
}

.section-2col.section-right{
	.section-content{
		float:right;
	}
	.section-aside{
		float:right;
	}
}