/* scss/organisms/_atomic-search.scss */

.atomic-search {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  //left: 0;
  left: $atomicSideWidth;
  z-index: 2000;
  //background: rgba(58, 66, 76, 0.94);
  background: $color1;
  color: #fff;
  font-family: $font1;
  display: none;
}

.atomic-dash-is-active {
  .atomic-search {
    left: 50px;
  }
}

.atomic-search__close {
  position: absolute;
  right: 50px;
  top: 25px;
  cursor: pointer;
}

.atomic-search__content {
  max-width: 500px;
  margin: auto;
  position: relative;
  padding: 100px 20px;
}

.atomic-search__inputWrap {
  height: 60px;
  position: relative;
  margin-bottom: 30px;
  &:before {
    content: "\f002";
    position: absolute;
    left: 0;
    height: 30px;
    width: 30px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateY(-50%);
    font-size: 31px;
    top: 28px;
  }
}

.atomic-search__input {
  width: 100%;
  height: 60px;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  padding-left: 50px;
  color: #fff;
  font-size: 30px;
  &:focus {
    outline: none;
  }
}

.atomic-search__results {
  list-style: none;
  padding: 0;
  padding-left: 57px;
  li {
    padding: 4px 0;
    padding-left: 0;
    transition: all .25s;
  }

  a.atomic-search__item-parent {
    font-size: 24px;
    padding-left: 0;
  }

  .selected {
    background: #005f96;
    padding-left: 10px;
  }
  a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    padding-left: 15px;
  }
}

.atomic-search ::-webkit-input-placeholder {
  color: #fff;
  font-size: 25px;
  font-style: italic;
  text-indent: 5px;
}

.atomic-search ::-moz-placeholder {
  color: #fff;
  font-size: 25px;
}

.atomic-search :-ms-input-placeholder {
  color: #fff;
  font-size: 25px;
}

.atomic-search :-moz-placeholder {
  color: #fff;
  font-size: 25px;
}



