.ad_fileForm{
	.form-control{
		border-radius:0;
		border:none;
		background:#fff;
		box-shadow:none;
		margin-bottom:10px;
		color: #B9B9B9;
		width: 100%;
		height: 30px;
	    font-size: 14px;
	    text-indent: 10px;
	}
	.btn{
		border-radius:0;
		padding: 7px 12px;
		border:none;
	}
	::-webkit-input-placeholder {
		 color: #555;
		 font-style: 12px
		 //font-style:italic;
	}
}

