.atomic-subform-group{

}
.atomic-sub-form{
	padding: 0 37px;
	.form-control{
		border-radius:0;
		border:none;
		background:#3A4050;
		box-shadow:none;
		margin-bottom:10px;
		color: #B9B9B9;
	}
	.btn{
		border-radius:0;
		padding: 7px 12px;
		border:none;
	}
	::-webkit-input-placeholder {
		 color: #555;
		 font-style:italic;
	}
}

