.atoms {
	.atomic-link-show-organisms,
	.atomic-link-show-molecules,
	.atomic-link-show-utilities{
		display:none;
	}
}
.molecules {
	.atomic-link-show-organisms,
	.atomic-link-show-atoms,
	.atomic-link-show-utilities{
		display:none;
	}
}
.organisms {
	.atomic-link-show-molecules,
	.atomic-link-show-atoms,
	.atomic-link-show-utilities{
		display:none;
	}
}
.utilities {
	.atomic-link-show-molecules,
	.atomic-link-show-atoms,
	.atomic-link-show-organisms{
		display:none;
	}
}

.atomic-link-grp{
	position:relative;

}
.atomic-link-main{
	
}
.atomic-link-show{
	/*height:20px;
	width:20px;*/
	border-radius:50%;
	color:#00aff0;
	position:absolute;
	left:10px;
	top: 6px;
	z-index:50;
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	transition: all .25s;
}
.rotate{
	transform: rotate(-45deg);
	transform-origin: 50%;
}