.ad_dir__dirNameGroup{
	position:relative;

}
.ad_dir__dirNameGroup__name{
	
}

.active{
  .ad_dir__dirNameGroup__icon{
	display: inline;
  }	
}

.ad_dir__dirNameGroup__icon{
	//display: none;
	color:#00aff0;
	position:absolute;
	left: 13px;
    top: 10px;
	z-index:50;
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	transition: all .25s;
}




.rotate{
	transform: rotate(-45deg);
	transform-origin: 50%;
}