.cat-form-btn{
	display: block;
	padding: 10px 38px;
	padding-left: 0;
	margin-left: 38px;
	text-transform: lowercase;
	color: #fff;
	font-style:italic;
	cursor:pointer;
}
.cat-form-btn.show-hide_cls{
	display:none;
}
.cat-form{
	display:none;
}
.cat-form-group{
	background: #00aff0;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	.atomic-sub-form .form-control {
	    background: #fff;
	}
}