.cat-form-btn{
	display: block;
	padding: 10px 38px;
	padding-left: 0;
	margin-left: 38px;
	color: #797979;
	font-size: 13px;
}
/* .cat-form-btn.show-hide_cls{
	display:none;
}
.cat-form{
	display:none;
} */
.cat-form-group{
	background: #D2D4D1;
	position: fixed;
	width: 262px;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 15px 0;
	z-index: 100;
	transition:all .5s;
	.ad_fileForm .form-control {
	    background: #3F434E;
	    margin-bottom: 7px;
	    height: 40px;
	}
	::-webkit-input-placeholder {
		 color: #626673;
	}
	.form-control{
		color: #B9B9B9;
	}
	.fa{
		position: absolute;
		right: 10px;
		top:10px;
		cursor:pointer;
		//color: #00aff0;
	}
}

.cat-form{
	margin-top: 10px;
}


.js-showContent{
	display:none;
}