/*../scss/organisms/_banner-alt*/

.banner-alt {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
}
@media (max-width: 1000px) {
  .banner-alt {
    max-width: 100%;
  }
}
.banner-alt .btnGroup {
  float: right;
  margin-bottom: 0;
}
.banner-alt .logo {
  text-align: left;
  float: left;
  margin-top: 0;
  font-size: 32px;
  max-width: 200px;
}
@media (max-width: 707px) {
  .banner-alt {
    padding-top: 48px;
  }
  .banner-alt .logo {
    float: none;
    text-align: center;
    margin-bottom: 48px;
  }
  .banner-alt .btnGroup {
    margin-bottom: 0;
    float: none;
  }
  .banner-alt .btnGroup .btns {
    width: 100%;
    display: block;
    margin-bottom: 12px;
  }
}

