/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 8, _prism.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 30, _prism.scss */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* line 36, _prism.scss */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  /* line 43, _prism.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
/* line 50, _prism.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* line 56, _prism.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
/* line 62, _prism.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 67, _prism.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 74, _prism.scss */
.token.punctuation {
  color: #999;
}

/* line 78, _prism.scss */
.namespace {
  opacity: .7;
}

/* line 82, _prism.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

/* line 91, _prism.scss */
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

/* line 98, _prism.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 108, _prism.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

/* line 115, _prism.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 120, _prism.scss */
.token.important {
  font-weight: bold;
}

/* line 124, _prism.scss */
.token.entity {
  cursor: help;
}

/* line 1, utilities/_grid.scss */
[class*='nb-'] {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, utilities/_grid.scss */
[class*='nb-']:last-of-type {
  margin-right: 0;
}

/* line 11, utilities/_grid.scss */
.nb-1 {
  width: 08.333333333%;
  float: left;
}

/* line 15, utilities/_grid.scss */
.nb-2 {
  width: 16.6666666667%;
  float: left;
}

/* line 19, utilities/_grid.scss */
.nb-3 {
  width: 25%;
  float: left;
}

/* line 23, utilities/_grid.scss */
.nb-4 {
  width: 33.3333333333%;
  float: left;
}

/* line 27, utilities/_grid.scss */
.nb-5 {
  width: 41.6666666667%;
  float: left;
}

/* line 31, utilities/_grid.scss */
.nb-6, .atoms-side_options .atoms-side_hide, .atoms-side_options .atoms-panel_show {
  width: 50%;
  float: left;
}

/* line 35, utilities/_grid.scss */
.nb-7 {
  width: 58.3333333333%;
  float: left;
}

/* line 39, utilities/_grid.scss */
.nb-8 {
  width: 66.6666666667%;
  float: left;
}

/* line 43, utilities/_grid.scss */
.nb-9 {
  width: 75%;
  float: left;
}

/* line 47, utilities/_grid.scss */
.nb-10 {
  width: 83.3333333333%;
  float: left;
}

/* line 51, utilities/_grid.scss */
.nb-11 {
  width: 91.6666666667%;
  float: left;
}

/* line 55, utilities/_grid.scss */
.nb-12 {
  width: 100%;
  float: left;
}

/* line 59, utilities/_grid.scss */
.grid-row:after, .atoms-side_options:after {
  content: "";
  display: table;
  clear: both;
}

/*@include col($six);*/
/* line 1, atoms/_atomic-h1.scss */
.atomic-h1 {
  border-bottom: 1px solid #ccc;
}

/* CSS Document */
/* line 4, molecules/_atomic-sub-form.scss */
.atomic-sub-form {
  padding: 0 37px;
}
/* line 6, molecules/_atomic-sub-form.scss */
.atomic-sub-form .form-control {
  border-radius: 0;
  border: none;
  background: #3A4050;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 10px;
  color: #B9B9B9;
}
/* line 14, molecules/_atomic-sub-form.scss */
.atomic-sub-form .btn {
  border-radius: 0;
  padding: 7px 12px;
  border: none;
}
/* line 19, molecules/_atomic-sub-form.scss */
.atomic-sub-form ::-webkit-input-placeholder {
  color: #555;
  font-style: 12px;
}

/* line 1, molecules/_atomic-sub-menu.scss */
.atoms-sub-menu {
  display: none;
}
/* line 3, molecules/_atomic-sub-menu.scss */
.atoms-sub-menu li {
  list-style: none;
}
/* line 6, molecules/_atomic-sub-menu.scss */
.atoms-sub-menu a {
  padding-left: 30px;
}

/* line 12, molecules/_atomic-sub-menu.scss */
.active .atoms-sub-menu {
  display: block;
}

/* line 1, molecules/_atomic-link-group.scss */
.atomic-link-grp {
  position: relative;
}

/* line 10, molecules/_atomic-link-group.scss */
.active .atomic-link-show {
  display: inline;
}

/* line 15, molecules/_atomic-link-group.scss */
.atomic-link-show {
  display: none;
  /*height:20px;
  width:20px;*/
  border-radius: 50%;
  color: #00aff0;
  position: absolute;
  left: 10px;
  top: 6px;
  z-index: 50;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

/* line 31, molecules/_atomic-link-group.scss */
.rotate {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}

/* line 1, molecules/_cat-form.scss */
.cat-form-btn {
  display: block;
  padding: 10px 38px;
  padding-left: 0;
  margin-left: 38px;
  color: #fff;
}

/* .cat-form-btn.show-hide_cls{
	display:none;
}
.cat-form{
	display:none;
} */
/* line 15, molecules/_cat-form.scss */
.cat-form-group {
  background: #484E5F;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px 0;
}
/* line 22, molecules/_cat-form.scss */
.cat-form-group .atomic-sub-form .form-control {
  background: #fff;
}
/* line 25, molecules/_cat-form.scss */
.cat-form-group ::-webkit-input-placeholder {
  color: #B9B9B9;
}
/* line 28, molecules/_cat-form.scss */
.cat-form-group .form-control {
  color: #B9B9B9;
}
/* line 31, molecules/_cat-form.scss */
.cat-form-group .fa {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

/* CSS Document */
/* line 1, _atoms-main.scss */
.atoms-container {
  height: 100%;
}

/* line 7, _atoms-main.scss */
.atoms-main {
  float: left;
  width: 83.33333%;
  float: right;
  padding: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* line 21, _atoms-main.scss */
.atoms-code-example {
  position: relative;
}

/* line 27, _atoms-main.scss */
.atoms-group {
  margin-bottom: 50px;
}

/* line 1, _atoms-nav.scss */
.atoms-side {
  float: left;
  float: left;
  width: 16.66667%;
  height: 100%;
  background: #343843;
  color: #fff;
  position: fixed;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 5000;
}

/* line 13, _atoms-nav.scss */
.atom-side_head {
  background: #3d3d3d;
  display: none;
}

/* line 17, _atoms-nav.scss */
.atoms-nav .atom-side_head a {
  color: #fff;
  text-transform: uppercase;
}

/* line 22, _atoms-nav.scss */
.atoms-nav {
  list-style: none;
  padding: 0;
  padding-top: 13px;
}

/* line 27, _atoms-nav.scss */
.atomic-link-main {
  display: block;
  padding: 10px 38px;
  padding-left: 0;
  margin-left: 38px;
  text-transform: uppercase;
  color: #a6adb3;
}

/* line 35, _atoms-nav.scss */
.atomic-link-main:hover {
  color: #a6adb3;
  text-decoration: none;
}

/* line 39, _atoms-nav.scss */
.atoms-sub-menu {
  padding-left: 0;
}
/* line 41, _atoms-nav.scss */
.atoms-sub-menu li {
  list-style: none;
}
/* line 44, _atoms-nav.scss */
.atoms-sub-menu a {
  padding-left: 50px;
  display: block;
  color: #5FC5FF;
}
/* line 49, _atoms-nav.scss */
.atoms-sub-menu a:hover {
  text-decoration: none;
}

/* line 54, _atoms-nav.scss */
.border-top {
  border-top: 1px solid #424242;
}

/****************************/
/* line 70, _atoms-nav.scss */
.atoms-side_hide {
  cursor: pointer;
  display: block;
  background: #00aff0;
  padding: 8px 20px;
  padding-left: 38px;
}

/* line 78, _atoms-nav.scss */
.atoms-side_show {
  -webkit-transition: all .5s;
  transition: all .5s;
  background: #00aff0;
  cursor: pointer;
  position: fixed;
  z-index: 5000;
  color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding-top: 10px;
  top: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 5px 2px;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 5px 2px;
  opacity: .4;
}

/* line 93, _atoms-nav.scss */
.atoms-side_show:hover {
  opacity: 1;
}

/* line 96, _atoms-nav.scss */
.toggle-line {
  border: 1px solid #fff;
  display: block;
  width: 13px;
  margin: auto;
  margin-bottom: 2px;
  position: relative;
  left: -1px;
}
