/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 8, ../scss/_prism.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 30, ../scss/_prism.scss */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* line 36, ../scss/_prism.scss */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  /* line 43, ../scss/_prism.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
/* line 50, ../scss/_prism.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* line 56, ../scss/_prism.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
/* line 62, ../scss/_prism.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 67, ../scss/_prism.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 74, ../scss/_prism.scss */
.token.punctuation {
  color: #999;
}

/* line 78, ../scss/_prism.scss */
.namespace {
  opacity: .7;
}

/* line 82, ../scss/_prism.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

/* line 91, ../scss/_prism.scss */
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

/* line 98, ../scss/_prism.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 108, ../scss/_prism.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

/* line 115, ../scss/_prism.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 120, ../scss/_prism.scss */
.token.important {
  font-weight: bold;
}

/* line 124, ../scss/_prism.scss */
.token.entity {
  cursor: help;
}

/* line 1, ../scss/_grid.scss */
[class*='nb-'] {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/_grid.scss */
[class*='nb-']:last-of-type {
  margin-right: 0;
}

/* line 11, ../scss/_grid.scss */
.nb-1 {
  width: 08.333333333%;
  float: left;
}

/* line 15, ../scss/_grid.scss */
.nb-2 {
  width: 16.6666666667%;
  float: left;
}

/* line 19, ../scss/_grid.scss */
.nb-3 {
  width: 25%;
  float: left;
}

/* line 23, ../scss/_grid.scss */
.nb-4 {
  width: 33.3333333333%;
  float: left;
}

/* line 27, ../scss/_grid.scss */
.nb-5 {
  width: 41.6666666667%;
  float: left;
}

/* line 31, ../scss/_grid.scss */
.nb-6, .atoms-side_options .atoms-side_hide, .atoms-side_options .atoms-panel_show {
  width: 50%;
  float: left;
}

/* line 35, ../scss/_grid.scss */
.nb-7 {
  width: 58.3333333333%;
  float: left;
}

/* line 39, ../scss/_grid.scss */
.nb-8 {
  width: 66.6666666667%;
  float: left;
}

/* line 43, ../scss/_grid.scss */
.nb-9 {
  width: 75%;
  float: left;
}

/* line 47, ../scss/_grid.scss */
.nb-10 {
  width: 83.3333333333%;
  float: left;
}

/* line 51, ../scss/_grid.scss */
.nb-11 {
  width: 91.6666666667%;
  float: left;
}

/* line 55, ../scss/_grid.scss */
.nb-12 {
  width: 100%;
  float: left;
}

/* line 59, ../scss/_grid.scss */
.grid-row:after, .atoms-side_options:after {
  content: "";
  display: table;
  clear: both;
}

/*@include col($six);*/
/* line 1, ../scss/_atoms-main.scss */
.atoms-container {
  height: 100%;
}

/* line 7, ../scss/_atoms-main.scss */
.atoms-main {
  float: left;
  width: 100%;
  padding: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* line 16, ../scss/_atoms-main.scss */
.atoms-h1 {
  border-bottom: 1px solid #ccc;
}

/* line 20, ../scss/_atoms-main.scss */
.atoms-code-example {
  position: relative;
}

/* line 26, ../scss/_atoms-main.scss */
.atoms-group {
  margin-bottom: 50px;
}

/* line 1, ../scss/_atoms-nav.scss */
.atom-side_head {
  background: #3d3d3d;
  display: none;
}

/* line 5, ../scss/_atoms-nav.scss */
.atoms-nav .atom-side_head a {
  color: #fff;
  text-transform: uppercase;
}

/* line 10, ../scss/_atoms-nav.scss */
.atoms-sub-menu {
  display: none;
}

/* line 15, ../scss/_atoms-nav.scss */
.atoms .atoms-sub-organisms, .atoms .atoms-sub-molecules, .atoms .atoms-sub-utilities {
  display: none;
}

/* line 18, ../scss/_atoms-nav.scss */
.molecules .atoms-sub-organisms, .molecules .atoms-sub-atoms, .molecules .atoms-sub-utilities {
  display: none;
}

/* line 21, ../scss/_atoms-nav.scss */
.organisms .atoms-sub-molecules, .organisms .atoms-sub-atoms, .organisms .atoms-sub-utilities {
  display: none;
}

/* line 24, ../scss/_atoms-nav.scss */
.utilities .atoms-sub-molecules, .utilities .atoms-sub-atoms, .utilities .atoms-sub-organisms {
  display: none;
}

/* line 29, ../scss/_atoms-nav.scss */
.atoms-side {
  float: left;
  width: 16.666666666%;
  height: 100%;
  background: #211E1E;
  color: #fff;
  position: fixed;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 5000;
}

/* line 40, ../scss/_atoms-nav.scss */
.atoms-nav {
  list-style: none;
  padding: 0;
}

/* line 44, ../scss/_atoms-nav.scss */
.atoms-nav > li > a {
  display: block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
}

/* line 50, ../scss/_atoms-nav.scss */
.atoms-sub-menu {
  list-style: none;
  padding-left: 0;
  padding-bottom: 24px;
}
/* line 54, ../scss/_atoms-nav.scss */
.atoms-sub-menu a {
  padding-left: 48px;
  display: block;
  color: #fff;
}

/* line 61, ../scss/_atoms-nav.scss */
.border-top {
  border-top: 1px solid #424242;
}

/****************************/
/* line 77, ../scss/_atoms-nav.scss */
.atoms-side_hide {
  cursor: pointer;
  display: block;
  background: #E36E70;
  padding: 12px;
}

/* line 83, ../scss/_atoms-nav.scss */
.atoms-panel_show {
  cursor: pointer;
  display: block;
  background: #35B2F8;
  padding: 12px;
}

/* line 89, ../scss/_atoms-nav.scss */
.atoms-side_show {
  -webkit-transition: all .5s;
  transition: all .5s;
  background: #E36E70;
  cursor: pointer;
  position: fixed;
  z-index: 5000;
  padding: 12px;
  color: #fff;
}
