/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

[class*='nb-'] {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='nb-']:last-of-type {
  margin-right: 0;
}

.nb-1 {
  width: 08.333333333%;
  float: left;
}

.nb-2 {
  width: 16.6666666667%;
  float: left;
}

.nb-3 {
  width: 25%;
  float: left;
}

.nb-4 {
  width: 33.3333333333%;
  float: left;
}

.nb-5 {
  width: 41.6666666667%;
  float: left;
}

.nb-6, .atoms-side_options .atoms-side_hide, .atoms-side_options .atoms-panel_show {
  width: 50%;
  float: left;
}

.nb-7 {
  width: 58.3333333333%;
  float: left;
}

.nb-8 {
  width: 66.6666666667%;
  float: left;
}

.nb-9 {
  width: 75%;
  float: left;
}

.nb-10 {
  width: 83.3333333333%;
  float: left;
}

.nb-11 {
  width: 91.6666666667%;
  float: left;
}

.nb-12 {
  width: 100%;
  float: left;
}

.grid-row:after, .atoms-side_options:after {
  content: "";
  display: table;
  clear: both;
}

/*@include col($six);*/
.atomic-h1 {
  border-bottom: 1px solid #ccc;
}

/* CSS Document */
.atomic-sub-form {
  padding: 0 37px;
}
.atomic-sub-form .form-control {
  border-radius: 0;
  border: none;
  background: #3A4050;
  box-shadow: none;
  margin-bottom: 10px;
}
.atomic-sub-form .btn {
  border-radius: 0;
  padding: 7px 12px;
  border: none;
}
.atomic-sub-form ::-webkit-input-placeholder {
  color: #555;
  font-style: italic;
}

.atoms-sub-menu {
  display: none;
}
.atoms-sub-menu li {
  list-style: none;
}
.atoms-sub-menu a {
  padding-left: 30px;
}

.atoms .atomic-link-show-organisms,
.atoms .atomic-link-show-molecules,
.atoms .atomic-link-show-utilities {
  display: none;
}

.molecules .atomic-link-show-organisms,
.molecules .atomic-link-show-atoms,
.molecules .atomic-link-show-utilities {
  display: none;
}

.organisms .atomic-link-show-molecules,
.organisms .atomic-link-show-atoms,
.organisms .atomic-link-show-utilities {
  display: none;
}

.utilities .atomic-link-show-molecules,
.utilities .atomic-link-show-atoms,
.utilities .atomic-link-show-organisms {
  display: none;
}

.atomic-link-grp {
  position: relative;
}

.atomic-link-show {
  /*height:20px;
  width:20px;*/
  border-radius: 50%;
  color: #00aff0;
  position: absolute;
  left: 10px;
  top: 6px;
  z-index: 50;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  transition: all .25s;
}

.rotate {
  transform: rotate(-45deg);
  transform-origin: 50%;
}

/* CSS Document */
.atoms-container {
  height: 100%;
}

.atoms-main {
  float: left;
  width: 83.33333%;
  float: right;
  padding: 20px;
  transition: all .5s;
}

.atoms-code-example {
  position: relative;
}

.atoms-group {
  margin-bottom: 50px;
}

.atoms-side {
  float: left;
  float: left;
  width: 16.66667%;
  height: 100%;
  background: #343843;
  color: #fff;
  position: fixed;
  left: 0;
  transition: all .5s;
  z-index: 5000;
}

.atom-side_head {
  background: #3d3d3d;
  display: none;
}

.atoms-nav .atom-side_head a {
  color: #fff;
  text-transform: uppercase;
}

.atoms-nav {
  list-style: none;
  padding: 0;
  padding-top: 13px;
}

.atomic-link-main {
  display: block;
  padding: 10px 38px;
  padding-left: 0;
  margin-left: 38px;
  text-transform: uppercase;
  color: #a6adb3;
}

.atomic-link-main:hover {
  color: #a6adb3;
  text-decoration: none;
}

.atoms-sub-menu {
  padding-left: 0;
}
.atoms-sub-menu li {
  list-style: none;
}
.atoms-sub-menu a {
  padding-left: 50px;
  display: block;
  color: #5FC5FF;
}
.atoms-sub-menu a:hover {
  text-decoration: none;
}

.border-top {
  border-top: 1px solid #424242;
}

/****************************/
.atoms-side_hide {
  cursor: pointer;
  display: block;
  background: #00aff0;
  padding: 8px 20px;
  padding-left: 38px;
}

.atoms-side_show {
  transition: all .5s;
  background: #00aff0;
  cursor: pointer;
  position: fixed;
  z-index: 5000;
  color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding-top: 10px;
  top: 7px;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 5px 2px;
  opacity: .4;
}

.atoms-side_show:hover {
  opacity: 1;
}

.toggle-line {
  border: 1px solid #fff;
  display: block;
  width: 13px;
  margin: auto;
  margin-bottom: 2px;
  position: relative;
  left: -1px;
}
