$font1: 'Roboto Condensed', sans-serif;
$font2: 'Open Sans', sans-serif;


.font1{
	font-family: $font1; 
}
.font2{
	font-family: $font2; 
}

.font{
	span{
		display:block;
	}
}

body{
	font-family:$font2;
}