.h1, h1, h2, .h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
    color: #35363a;
}

.h1{
    font-size: 60px;
    color: #5583B2;
}

.h2{
	font-size: 40px;
    color: #35363a;
    text-transform: none;
    font-weight: bold;
}