.ad_actionDrawer{
  position:fixed;
  top:0;
  right:-100%;
  bottom:0;
  width:100%;
  background:#E3E4E3;
  z-index:1000; 
  padding:50px;
  height:100%;
}

.ad_actionDrawer__wrap{
  max-width:500px;
  margin:auto;
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  h1{
   color:#7A7A7A; 
  }
}

.actionDrawer__content{
  
}

.ad_actionDrawer__close{
  //position:absolute; 
  cursor:pointer;
  color: #F94B4B;
  position: absolute;
  right: 0;
  top: -53px;
}

