.codeBlocks {
  .nav-tabs {
    border: 1px solid #dadada;
    margin-top: 0;
    background: #fff;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
    border-bottom: 3px solid #00aff0;
    color: inherit;
  }
  .nav > li > a:focus, .nav > li > a:hover {
    background: none;
    border: none;
  }
  .nav-tabs > li > a {
    margin-right: 0;
    line-height: 1;
    border: none;
    border-radius: 0;
    text-decoration: none;
    font-size: 12px;
    color: #929292;
    font-weight: 300;
  }
}


