.atom-side_head{
	background: rgb(61, 61, 61);
	display:none;
}
.atoms-nav .atom-side_head a{
	color:#fff;
	text-transform: uppercase;
}



.atoms-side{
	float:left;
	width:16.666666666%;
	height:100%;
	background: #343843;
	color:#fff;
	position: fixed;
	left:0;
	transition: all .5s;
	z-index:5000;
}
.atoms-nav{
	list-style:none;
	padding:0;
}
.atomic-link-main{
	display:block;
	padding:10px 38px;
	padding-left:0;
	margin-left:38px;
	text-transform:uppercase;
	color:#a6adb3;
}
.atomic-link-main:hover{
	color:#a6adb3;
	text-decoration:none;
}
.atoms-sub-menu{
	padding-left:0;
	li{
		list-style:square;
	}
	a{
		padding-left: 20px;
display: block;
color: #5FC5FF;
	}
}

.border-top{
	border-top: 1px solid rgb(66, 66, 66);
}

/****************************/
.atoms-side_options{
	@extend .grid-row;
	.atoms-side_hide{
		@extend .nb-6;
	}
	.atoms-panel_show{
		@extend .nb-6;
	}
}


.atoms-side_hide{
	cursor:pointer;
	display:block;
	background:#00aff0;
	padding:8px 20px;
}
.atoms-panel_show{
	cursor:pointer;
	display:block;
	background:#35B2F8;
	padding:8px 20px;
}
.atoms-side_show{
	transition: all .5s;
	background:#00aff0;
	cursor:pointer;
	position:fixed;
	z-index:5000;
	padding:8px 20px;
	color:#fff;
}



