.atom-side_head{
	background: rgb(61, 61, 61);
	display:none;
}
.atoms-nav .atom-side_head a{
	color:#fff;
	text-transform: uppercase;
}




.atoms-side{
	float:left;
	width:16.666666666%;
	height:100%;
	background: #343843;
	color:#fff;
	position: fixed;
	left:0;
	transition: all .5s;
	z-index:5000;
}
.atoms-nav{
	list-style:none;
	padding:0;
}
.atoms-nav > li > a{
	display:block;
	padding:10px 20px;
	text-transform:uppercase;
	color:#a6adb3;
}
.atoms-sub-menu{
	/*list-style:none;*/
	padding-left:0;
	padding-bottom:24px;
	a{
		padding-left:48px;
		display:block;
		color:#fff;
	}
}

.border-top{
	border-top: 1px solid rgb(66, 66, 66);
}

/****************************/
.atoms-side_options{
	@extend .grid-row;
	.atoms-side_hide{
		@extend .nb-6;
	}
	.atoms-panel_show{
		@extend .nb-6;
	}
}


.atoms-side_hide{
	cursor:pointer;
	display:block;
	background:#00aff0;
	padding:8px 20px;
}
.atoms-panel_show{
	cursor:pointer;
	display:block;
	background:#35B2F8;
	padding:8px 20px;
}
.atoms-side_show{
	transition: all .5s;
	background:#00aff0;
	cursor:pointer;
	position:fixed;
	z-index:5000;
	padding:8px 20px;
	color:#fff;
}



