body{
  background:#FCFEFA; 
  color:#7A7A7A;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #E2F3F5;
}
.compTitle{
	text-transform:capitalize;
	display: block;
	margin-bottom: 12px;
	color: #00AFF0;
}