body{
  background:#FCFEFA;
  color:#7A7A7A;
  font-family: $font1;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #E2F3F5;
  border: none;
  margin-top: 0;
}
.compTitle{
	display: block;
	margin-bottom: 12px;
	color: #00AFF0;
	border-left: 5px solid;
	padding-left: 3px;
	max-height: 25px;
  .fa{
    cursor:pointer;
  }
}
.compWrap{
	margin-bottom:48px;
}

.compTitle-close{
  max-height: 0;
  overflow: hidden;;
}

.u-bgWhite{
	background:#fff;
}

.atoms-side_hide{
	.fa{
		margin:0 16px;
		display:inline-block;
	}
	.fa-code{
		font-weight: bold;
	}
}

.component{
	margin-bottom: 12px;
}
.compWrap .nav-tabs > li > a {
    color: #00AFF0;
}


.component{/* .component-hasBg */
  padding:20px;
}



.bgColorWrap{
  margin-bottom:12px;
}

.sp-replacer{
	background-color:#fff;
	border: none;
}
.sp-preview .sp-clear-display{
 background-image:none;
}

.language-css{
  position:relative;
}

.atoms-overflow{
	overflow: auto;
	position: relative;
	height: 100%;
}



.atomic-btns{
	background:#ccc;
	border: none;
	color: #fff;
	font-size: 14px;
    padding: 6px 12px;
    cursor: pointer;
}

.atomic-btn1{
	background: #37c737;
}

.atomic-btn2{
	background: #e65d5d;
}










.atomic-form{
	background: #a6d4da;
	max-width:500px;
	padding:10px;
}
.textChange{
	width:100%;
	border:none;
	font-size: 13px;
	color: #7A7A7A;
	margin-bottom:0;
}
textarea.textChange{
	height:200px;
	padding:10px;
}
.atomic-form-input.textChange{
	padding:10px;
}
.atomic-form-footer{
	text-align: right;
	padding-top:5px;
}
.atomic-form-footer .atomic-btns{
	margin-right:10px;
	display:inline-block;
}




.partial-viewport {
	width:100%;
	border:1px solid red;
}

.sortable-ghost{
	opacity:0;
}

